@model TaskGroupWeb.Models.TaskModel

@{
    ViewData["Title"] = "Nova tarefa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/lib/summer/summernote.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.css" />
}

<partial name="~/Views/Shared/_MessageResult.cshtml" />

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="taskId" class="form-control" value="0" hidden />
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.projectId, new { @class = "control-label" })
                <div class="input-size">
                    @Html.DropDownList("projectId", ViewBag.Projects as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.projectId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.userOwnId, new { @class = "control-label" })
                <div class="input-size">
                    @Html.DropDownList("userOwnId", ViewBag.Users as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.userOwnId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label asp-for="subject" class="control-label"></label>
                <input asp-for="subject" class="form-control" />
                <span asp-validation-for="subject" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.status, new { @class = "control-label" })
                <div class="input-size">
                    @Html.DropDownList("status", ViewBag.Status as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label asp-for="dateSla" class="control-label"></label>
                <input asp-for="dateSla" type="text" class="form-control" style="position: relative; z-index: 100000;" />
                <span asp-validation-for="dateSla" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <textarea asp-for="description" class="form-control"></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Salvar</span>
                </button>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-backward"></i>
        </span>
        <span class="text">Voltar a lista</span>
    </a>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/summer/summernote.js"></script>
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            $("#dateSla").datepicker(getDatePickerConfiguration());

            $('#summer').summernote({
                height: 200,
                popover: {
                    image: [],
                    link: [],
                    air: []
                }
            });
        })
    </script>
}


