@model TaskGroupWeb.Models.UserModel

@{
    ViewData["Title"] = "Editar usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="~/Views/Shared/_MessageResult.cshtml" />

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Edit" id="form-user">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <input name="userId" value="@Model.userId" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label asp-for="login" class="control-label"></label>
                <input asp-for="login" class="form-control" />
                <span asp-validation-for="login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" type="password" value="@Model.password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmPassword" class="control-label"></label>
                <input asp-for="confirmPassword" type="password" value="@Model.password" class="form-control" />
                <span asp-validation-for="confirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact" class="control-label"></label>
                <input asp-for="contact" class="form-control" />
                <span asp-validation-for="contact" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.status, new { @class = "control-label" })
                <div class="input-size">
                    @Html.DropDownList("status", ViewBag.Status as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.acesso, new { @class = "control-label" })
                <div class="input-size">
                    @Html.DropDownList("acesso", ViewBag.NivelAcesso as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label asp-for="dateCreated" class="control-label"></label>
                <input asp-for="dateCreated" class="form-control" disabled />
                <span asp-validation-for="dateCreated" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Salvar</span>
                </button>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-backward"></i>
        </span>
        <span class="text">Voltar a lista</span>
    </a>
</div>

@section scripts {

    <script>
        $('#form-user').submit(function (e) {
            e.preventDefault();

            let url = $(this).attr('action');
            let data = $(this).serializeArray();

            if ($(this).valid()) {

                LoadingShow();

                submitAssync(url, data,
                    function (response) {
                        location.href = response.action;
                    },
                    function (response) {
                        LoadingHide();
                        swal("", response.message);
                    })
            }
            else {
                swal("Por favor preencha todos os campos obrigatórios!");
            }
        })
    </script>
}

